
:root {
  --main: #1B1725;
  --card: #9DC7C8;
  --cool: #077187;
  --warm: #F6AE2D;
  --hot: #FF3A20;
}

html, body {
    height: 100%;
    margin:0%;
}

body {
    background-color: var(--main);
}


.parent-initial{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    
    
}

.search-initial{
    width: 50%;
    margin: auto;
    display: flex;
    gap: 0.5rem;
    
}

#title-initial{
    margin-top: 20%;
    text-align: center;
}

.form-initial{
    width: 100%;
}
