
:root {
  --main: #1B1725;
  --card: #9DC7C8;
  --cool: #077187;
  --warm: #F6AE2D;
  --hot: #FF3A20;
}

.major-mono-display-regular {
  font-family: "Major Mono Display", monospace;
  font-weight: 400;
  font-style: normal;
}

#logo-text{
    font-family: "Major Mono Display", monospace;
    font-size: clamp(2.5rem, 8vw, 6rem);
}



html, body {
    height: 100%;
    margin:0%;
}

body {

  min-height: 100vh;
  margin: 0;
  background:
    radial-gradient(
      circle at 50% 25%,
      rgba(255,255,255,0.50),
      transparent 55%
    ),
    linear-gradient(
      to bottom,
      #1e3c72,
      #2a5298
    );
}

.cloud-wrapper{

    display: flex;
    align-items: center;
    justify-content: space-around; 
    gap: 1rem;     
    position: relative;

}
.cloud{
    width: clamp(80px, 10vw, 120px); /* responsive cloud size */
    height: auto;
}


/* dont touch this its hanging on by a thread*/

#cloud-animate-l-side {
    opacity: 0;
    transform: translateX(-100px);
    animation: slideRightFade 2.5s cubic-bezier(0.22, 1, 0.36, 1) forwards;
}

#cloud-animate-r-side{
    opacity: 0;
    transform: translateX(100px) scaleX(-1);
    animation: slideLeftFade 2.5s cubic-bezier(0.22, 1, 0.36, 1) forwards
}

@keyframes slideLeftFade {
    to {
        opacity: 1;
        transform: translateX(0) scaleX(-1);
    }
}

@keyframes slideRightFade {
    to {
        opacity: 1;
        transform: translateX(0);
    }
}





/*atmosquery logo center*/
.title-init{
    display: flex;
    flex-direction: column;
    justify-content: center;
}





/*SUBSCRIPT*/

#title-subscript{
    justify-self: center;
    text-align: center;
    font-family: "Major Mono Display", monospace;
    color:floralwhite;
    white-space: nowrap;
    margin-right: 20px;
    margin-left: 20px;

}

.title-subscript{
    display: flex;
}

.dashline{
  width: 50%;          
  border: none;        
  border-top: 1px solid #ffffff; /* custom line */
  margin: 1rem auto;  

}




/*welcome page flexbox properties*/

.page-welcome{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}


.search-initial{
    display: flex;
    align-self: center;
    width: 50%;
    gap: 20px;
    justify-content: center;

}

.welcome-search
{
    display: flex;
    flex-direction: row;
    width: 100vw;
    max-width: 100%;
    justify-content: center;
}

.welcome-search input{
    width: 50%;
}






/* index.html

keep main page style confined to this area */

.main-page{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

#logo-text-small{

    font-family: "Major Mono Display", monospace;
    font-size: clamp(1rem, 2vw, 3rem);

}

.top-bar{
    display: flex;
}
