
:root {
  --main: #1B1725;
  --card: #9DC7C8;
  --cool: #077187;
  --warm: #F6AE2D;
  --hot: #FF3A20;
  --balticblue: #035E7B;
  --evergreen: #002E2C;

}

.major-mono-display-regular {
  font-family: "Major Mono Display", monospace;
  font-weight: 400;
  font-style: normal;
}

.space-mono-regular {
  font-family: "Space Mono", monospace;
  font-weight: 400;
  font-style: normal;
}

.space-mono-bold {
  font-family: "Space Mono", monospace;
  font-weight: 700;
  font-style: normal;
}

.space-mono-regular-italic {
  font-family: "Space Mono", monospace;
  font-weight: 400;
  font-style: italic;
}

.space-mono-bold-italic {
  font-family: "Space Mono", monospace;
  font-weight: 700;
  font-style: italic;

}


#logo-text{
    font-family: "Major Mono Display", monospace;
    font-size: clamp(2.5rem, 8vw, 6rem);
}



html, body {
    margin:0%;
}

body {

  min-height: 100vh;
  margin: 0;
  background:
    radial-gradient(
      circle at 50% 25%,
      rgba(255,255,255,0.50),
      transparent 55%
    ),
    linear-gradient(
      to bottom,
      #1e3c72,
      #2a5298
    );
}

.cloud-wrapper{

    display: flex;
    align-items: center;
    justify-content: space-around; 
    gap: 1rem;     
    position: relative;

}
.cloud{
    width: clamp(80px, 10vw, 120px); /* responsive cloud size */
    height: auto;
}


/* dont touch this its hanging on by a thread*/

#cloud-animate-l-side {
    opacity: 0;
    transform: translateX(-100px);
    animation: slideRightFade 2.5s cubic-bezier(0.22, 1, 0.36, 1) forwards;
}

#cloud-animate-r-side{
    opacity: 0;
    transform: translateX(100px) scaleX(-1);
    animation: slideLeftFade 2.5s cubic-bezier(0.22, 1, 0.36, 1) forwards
}

@keyframes slideLeftFade {
    to {
        opacity: 1;
        transform: translateX(0) scaleX(-1);
    }
}

@keyframes slideRightFade {
    to {
        opacity: 1;
        transform: translateX(0);
    }
}





/*atmosquery logo center*/
.title-init{
    display: flex;
    flex-direction: column;
    justify-content: center;
}





/*SUBSCRIPT*/

#title-subscript{
    justify-self: center;
    text-align: center;
    font-family: "Major Mono Display", monospace;
    color:floralwhite;
    white-space: nowrap;
    margin-right: 20px;
    margin-left: 20px;

}

.title-subscript{
    display: flex;
}

.dashline{
  width: 50%;          
  border: none;        
  border-top: 1px solid #ffffff; /* custom line */
  margin: 1rem auto;  

}




/*welcome page flexbox properties*/

.page-welcome{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}


.search-initial{
    display: flex;
    align-self: center;
    width: 50%;
    height: 6%;
    justify-content: center;

}

.welcome-search
{
    display: flex;
    flex-direction: row;
    width: 100vw;
    max-width: 100%;
    justify-content: center;
    gap: 2%;
}

.welcome-search input{
    width: 50%;
    height: 100%;
}






/* index.html

keep main page style confined to this area */

.main-page{
    min-height: 100vh;
    height: auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    background-color: #2a243a;
}

#logo-text-small{

    font-family: "Major Mono Display", monospace;
    font-size: clamp(15px, 1.5vw, 60px);

}

.top-bar{
    height: auto;
    background-color: #2e508f;
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content:space-around;
    align-items: center;
    padding-bottom: 3%;
    padding-top: 3%;
    border-bottom: 2px solid #ffffff;
    box-shadow: 0px 3px 0px #012120;
}

/* parent: top bar */

.standard-search{
     display: flex;
    align-items: center;
    gap: 0.5rem;
    flex-wrap: nowrap;
    width: 100%;
}

.standard-search input {
    width: clamp(220px, 40vw, 480px);
    height: 2.50rem;
    padding: 0 1rem;
    font-size: 1rem;
}


/* parent: main page */
.info-card{
    color: aliceblue;
    height: 100vh;
    width: 75%;
    margin-top: 5%;
    gap: 5px;
    background-color: #2e508f;
    border: 2px solid #ffffff;
    border-radius: 15px;
    box-shadow:
    0 12px 30px rgba(0, 0, 0, 0.50),
    0 6px 12px rgba(0, 0, 0, 0.50);

    display: flex;
    flex-direction: column;

    font-family: "Space Mono", monospace;
    font-weight: 400;
    font-style: normal;
    
}
/* parent: info-card */


.location{
    align-items: center;
    justify-content: center;
    width: 100%;
    text-align: center;
    font-size: clamp(1.5rem, 2vw, 2rem);
    margin-top: 2%;

}


.temperature{
    display: flex;
    gap: 5%;
    justify-content: center;
    align-items: center;
    margin-top: 2%;
}
/* parent : temperature*/
.condition-icon{
   width: 20%;
}

.temp_numeric{
    margin: top;
    font-size: clamp(2.5rem, 6vw, 6rem);
    text-shadow: 5px 3px 3px black;
}

/* parent: info-card */

.supp-parent{
    width: 75%;
    height: 60vh;
    justify-self: center;
    margin-left: 12.5%;
    margin-top:2%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    font-size: 2vw;
}

.supplementary{
    display: flex;
    justify-content: space-around;
    text-shadow: 5px 3px 3px black;
}
/*parent is supp-parent*/
.most-info {
    margin-top: 2%;
    width: 100%;
    height: 75%;
    background-color: #2a243a;
    flex-direction: column;
    border-radius: 20px;
    box-shadow: 
        0 12px 30px rgba(0, 0, 0, 0.50),
        0 6px 12px rgba(0, 0, 0, 0.50);
    justify-content: space-around;

}
.supp-row-top{
    display: flex;
    justify-content: space-around;
}


.wind_info{
    margin-top: 5%;
    margin-left: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: clamp(1.5rem, 2vw, 2rem)
}

.precip{
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: clamp(1.5rem, 2vw, 2rem)
}

