
:root {
  --main: #1B1725;
  --card: #9DC7C8;
  --cool: #077187;
  --warm: #F6AE2D;
  --hot: #FF3A20;
}

html, body {
    height: 100%;
    margin:0%;
}

body {
    background-color: var(--main);
}


.parent-initial{
    height: 100%;
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.search-initial{
    display: flex;
    
}
