{% extends "layout.html" %}

{% block main %}


<div class="main-page">
    <div class="top-bar">
        
        <div>
        <h1 id="logo-text-small" class="title">AtmosQuery</h1>
        </div>

        <div class="search-bar">
            <form class="standard-search" method="post" action="/">
                <input placeholder="location" name="location" required autocorrect="off">
                <button class="btn btn-primary" id="search" type="submit">search</button>
            </form>
        </div>

    </div>


    
        {% if data.current %}
        <div class="info-card">


            <div class="location">
            <p>{{ data.location.name }},&nbsp{{ data.location.region }}</p>
            </div>

            <div class="temperature">
                <img class="condition-icon" src="{{ url_for('static', filename=iconpath) }}">
                <div class="temp_numeric">
                    <p>{{ data.current.temp_f }}F</p>
                </div>
            </div>



            <div class="supp-parent">
                <div class="supplementary">
                    <p>{{ data.current.condition.text }}</p>
                    <p>Feels-Like: {{ data.current.feelslike_f }}F</p>
                </div>



                <div class="most-info">
                    <div class="supp-row-top">
                        <div class="wind_info">
                            <table class="wind_data">
                                <thead>
                                    <tr>
                                        <th>Wind Data</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Speed: {{ data.current.wind_mph }}mph</td>
                                    </tr>

                                    <tr>
                                        <td>Direction: {{ data.current.wind_dir }}</td>
                                    </tr>
                                    <tr>
                                        <td> Gust: {{ data.current.gust_mph }}mph</td>
                                    </tr>
                                    
                                </tbody>
                            </table>
                        </div>
                        <div class="precip">
                            <table class="precipitation_table">
                                <thead>
                                    <tr>
                                        <th>Precipitation:</th>
                                    </tr>
                                    
                                </thead>
                                
                                <tbody>
                                    <tr>
                                        <td>Rainfall: {{ data.current.precip_in }}"</td>
                                    </tr>

                                    <tr>
                                        <td>Cloud Coverage: {{ data.current.cloud }}%</td>
                                    </tr>
                                    <tr>
                                        <td>Humidity: {{ data.current.humidity }}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div class="split-tables">
                        <p>Daily Forcast</p>
                    </div>

                    <div class="forcast">
                        <div class="forecast-wrapper">
                            <table class="forecast-table">
                                <thead>
                                    <tr>
                                        <th>Date</th>
                                        <th>Condition</th>
                                        <th>High</th>
                                        <th>Low</th>
                                        <th>Rain</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for day in forecast.forecastday %}
                                        <tr>
                                            <td class="px-3">{{ day.date }}</td>
                                            <td class="px-3">{{ day.day.condition.text }}</td>
                                            <td class="px-3">{{ day.day.maxtemp_f }}°F</td>
                                            <td class="px-3">{{ day.day.mintemp_f }}°F</td>
                                            <td class="px-3">{{ day.day.daily_chance_of_rain }}%</td>
                                        </tr>
                                    {% endfor %}
                            </tbody>
                            </table>
                        </div>

                    </div>


                </div>
            </div>
        {% else %}
            <p>error fetching data</p>
        {% endif %}
        </div>

        <div id="footer-main"></div>
</div>        

{% endblock %}