{% extends "layout.html" %}

{% block main %}


<div class="main-page">
    <div class="top-bar">
        
        <div>
        <h1 id="logo-text-small" class="title">AtmosQuery</h1>
        </div>

        <div class="search-bar">
            <form class="standard-search" method="post" action="/">
                <input placeholder="location" name="location" required autocorrect="off">
                <button class="btn btn-primary" id="search" type="submit">search</button>
            </form>
        </div>

    </div>


    
        {% if data.current %}
        <div class="info-card">


            <div class="location">
            <p>{{ data.location.name }},&nbsp{{ data.location.region }}</p>
            </div>

            <div class="temperature">
                <img class="condition-icon" src="{{ url_for('static', filename=iconpath) }}">
                <div class="temp_numeric">
                    <p>{{ data.current.temp_f }}F</p>
                </div>
            </div>



            <div class="supp-parent">
                <div class="supplementary">
                    <p>{{ data.current.condition.text }}</p>
                    <p>Feels-Like: {{ data.current.feelslike_f }}F</p>
                </div>



                <div class="most-info">
                    <div class="supp-row-top">
                        <div class="wind_info">
                            <p>Wind:</p>
                            <p>Speed: {{ data.current.wind_mph }}mph {{ data.current.wind_dir }}</p>
                            <p> Gust: {{ data.current.gust_mph }}mph</p>
                        </div>
                        <div class="precip">
                            <p>Cloud Coverage: {{ data.current.cloud }}%</p>
                            <p>Humidity: {{ data.current.humidity }}</p>
                            <p>UV Index: {{ data.current.uv }}</p>
                            <p>Rainfall: {{ data.current.precip_in }}"</p>
                        </div>
                    </div>

                    <div class="forecast">
                        <table class="table">
                             <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">First</th>
                                    <th scope="col">Last</th>
                                    <th scope="col">Handle</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="row">1</th>
                                    <td>Mark</td>
                                    <td>Otto</td>
                                    <td>@mdo</td>
                                </tr>
                                <tr>
                                    <th scope="row">2</th>
                                        <td>Jacob</td>
                                        <td>Thornton</td>
                                        <td>@fat</td>
                                </tr>
                                 <tr>
                                    <th scope="row">3</th>
                                        <td>John</td>
                                        <td>Doe</td>
                                        <td>@social</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <!--adjusted height of forcast, most info and info card 
            but dont have signal to test it on the site yet-->
        {% else %}
            <p>error fetching data</p>
        {% endif %}
        </div>

        <div id="footer-main"></div>
</div>        

{% endblock %}