{% extends "layout.html" %}

{% block main %}


<div class="main-page">
    <div class="top-bar">
        
        <div>
        <h1 id="logo-text-small" class="title">AtmosQuery</h1>
        </div>

        <div class="search-bar">
            <form class="standard-search" method="post" action="/">
                <input placeholder="location" name="location" required autocorrect="off">
                <button class="btn btn-primary" id="search" type="submit">search</button>
            </form>
        </div>

    </div>
        {% if data.current %}
        <div class="info-card">

            <div class="temperature">
                <img class="condition-icon" src="{{ url_for('static', filename=iconpath) }}">
                <div class="temp_numeric">
                    <p>{{ data.current.temp_f }}F</p>
                </div>
            </div>

            <div class="supplementary">
                <p>Feels-Like: {{ data.current.feelslike_f }}F</p>
            </div>

            <div class="location">
            <p>{{ data.location.name }},&nbsp{{ data.location.region }}</p>
            </div>
            
        {% else %}
            <p>error fetching data</p>
        {% endif %}
        </div>

        <div id="footer-main"></div>
</div>        

{% endblock %}