{% extends "layout.html" %}


{% block main %}
    <div class="page-welcome">

        <div class="title-init">
            <div class="cloud-wrapper">
                <img src="{{ url_for('static', filename='images/clearbackground-cloud.png') }}" alt="clouds" class="cloud cloud-left">
                <h1 id="logo-text" >AtmosQuery</h1>
                <img src="{{ url_for('static', filename='images/clearbackground-cloud.png') }}" alt="clouds" class="cloud cloud-right">
            </div>
            <div class="title-subscript">
                <hr class="dashline dashline-left">
                <p id="title-subscript">What's up there?</p>
                <hr class="dashline dashline-right">
            </div>
        </div>
            
        <div class="search-initial">
            <form class="welcome-search" method="post" action="/">
                    <input type="text" name="location" placeholder="eg. city, state">
                    <button class="btn btn-primary" type="submit">Search</button>
            </form>
        </div>
          
        <div class="bottom-"></div>
    </div>
{% endblock %}