{% extends "layout.html" %}


{% block main %}
    <div class="parent-initial">
        <h1 id="title-initial">AtmosQuery</h1>
            <form class="form-initial" method="post" action="/">
                <div class="search-initial">
                    <input type="text" class="form-control" placeholder="eg. city, state">
                    <button class="btn btn-outline-secondary" type="submit">Button</button>
                </div>
            </form>
            <div id="spacer"></div>
    </div>
{% endblock %}a